
.leaflet-control-easyPrint {
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    background: #fff;
    border-radius: 5px;
}

@sprite .leaflet-control-easyPrint a {
    gwt-image: "print";
    background-position: center;
    width: 26px;
    height: 26px;
}

@media print {

	html {padding: 0px!important;}
	.leaflet-control-easyPrint-button{display: none!important;}

}
